<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>{{title}}</h1>
    <h3>Employee</h3>
    <hr />
    <!--<table class='table' *ngIf="empList">
        <tr>
            <td>{{ empList.ID }}</td>
            <td>{{ empList.Name }}</td>
            <td>{{ empList.Gender }}</td>
            <td>{{ empList.Department }}</td>
            <td>{{ empList.City }}</td>
            
           
    </tr>
    </table>-->
    <form [formGroup]="employeeForm" (ngSubmit)="save()" #formDir="ngForm" *ngIf="empList" novalidate>
        <!--<div class="form-group row">
           <label class=" control-label col-md-12" for="ID1">ID</label>
           <div class="col-md-4">
               <input class="form-control" name="id" value="2"  type="text" data-val="true" formControlName="id">
           </div>
           <span class="text-danger" *ngIf="employeeForm.hasError('required', 'id') && formDir.submitted">
               Name is required.
           </span>
        </div>-->
        <div class="form-group row">
            <label class=" control-label col-md-12" for="Name">Name</label>
            <div class="col-md-4">
                <input class="form-control" type="text" data-val="true" formControlName="name" id="name" value="{{ empList.Name }}">
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'Name') && formDir.submitted">
                Name is required.
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="Gender">Gender</label>
            <div class="col-md-4">
                <select class="form-control" data-val="true" formControlName="gender" id="gender" value="{{ empList.Gender }}">
                    <option value="">-- Select Gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'Gender') && formDir.submitted">
                Gender is required
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="Department">Department</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="department" value="{{ empList.Department }}">
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'Department') && formDir.submitted">
                Department is required
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="City">City</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="city" data-val="true" value="{{ empList.City }}">
            </div>
            <span class="text-danger" *ngIf="employeeForm.hasError('required', 'City') && formDir.submitted">
                City is required
            </span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
            <button class="btn" (click)="cancel()">Cancel</button>
        </div>

    </form>
</body>
</html>