<h1>Employee Data</h1>
<p>This component demonstrates fetching Employee data from the server.</p>
<p *ngIf="!empList"><em>Loading...</em></p>
<p>
    <a [routerLink]="['/register-employee']">Create New</a>
</p>
<table class='table' *ngIf="empList">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empList">
            <td>{{ emp.ID }}</td>
            <td>{{ emp.Name }}</td>
            <td>{{ emp.Gender }}</td>
            <td>{{ emp.Department }}</td>
            <td>{{ emp.City }}</td>
            <td>
            <td>
                <a [routerLink]="['/employee/edit/', emp.ID]">Edit</a> |
                <a [routerLink]="" (click)="delete(emp.ID)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>